<header class="header">
  <div class="header__container">
    <div class="header__info">
      <div class="header__phone">
        <img loading="lazy" src="./img/phone.svg" class="header__phone-img" width="34" height="34" alt="Телефон" />
        <div class="header__phone-text">+7(495)-369-67-98</div>
      </div>
      <div class="header__address">
        <img loading="lazy" src="./img/adress.svg" class="header__address-img" width="21" height="27" alt="Адрес" />
        <div class="header__address-text">г.Москва, Дмитровское шоссе, дом 165е корпус 5</div>
      </div>
    </div>
    <div class="header__search">
      <img loading="lazy" src="./img/search.svg" class="header__search-img" width="28" height="28" alt="Поиск">
      <input class="header__search-input" type="text" inputmode="text">
    </div>
  </div>
</header>
