<section class="services">
  <div class="container services__container">
    <ul class="services__list">
      <li class="services__item">
        <a class="services__text" href="#">Гигиена полости рта</a>
      </li>
      <li class="services__item">
        <a class="services__text" href="#">Имплантация</a>
      </li>
      <li class="services__item">
        <a class="services__text" href="#">Протезирование зубов</a>
      </li>
      <li class="services__item">
        <a class="services__text" href="#">Лечение десен</a>
      </li>
      <li class="services__item">
        <a class="services__text" href="#">Исправление прикуса</a>
      </li>
      <li class="services__item">
        <a class="services__text" href="#">Лечение кариеса</a>
      </li>
      <li class="services__item">
        <a class="services__text" href="#">Отбеливание зубов</a>
      </li>
      <li class="services__item">
        <a class="services__text" href="#">Детская стоматология</a>
      </li>
    </ul>
    <div class="services__btn button">
      <a href="#" class="services__link">
        Цены на услуги
      </a>
    </div>
  </div>
</section>