html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  font-family: var(--font-family, sans-serif);
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.header__container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-header-width);
}

.button {
  max-width: 273px;
  color: var(--light-color);
  text-decoration: none;
  font-size: 30px;
  line-height: 35px;
  background-color: var(--red-color);
  border: none;
  padding: 20px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:5px ;
}
